/*

Seccion: pagina raiz-base

*/

/*Fuente Overpass regular*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital@0;1&display=swap');
            /*como ponerlo -> font-family: 'Overpass', sans-serif;*/

:root{
    /* nuevo root */
    --celeste-claro: #bee9e8;
    --celeste: #62b6cb;
    --azul: #1b4965;
    --celeste-blanco: #cae9ff;
    --celeste-oscuro: #5fa8d3;

}


/*general*/
a {
    text-decoration: none;
}

*{
    font-family: 'Overpass', sans-serif;
}

/*

Nueva seccion: index

*/

/* Barra de navegacion*/
.navbar.principal {
    padding: 0.1rem;
    background: var(--azul);
}
.navbar-collapse.principal {
    align-items: center;
    justify-content: end;
}
.navbar-nav.principal {
    align-items: center;
}
.nav-link.principal{
    font-size: 18px;
    color: white;
}
.nav-item.principal{
    padding: 1rem;
}
.icon-navbar.principal{
    font-size: 20px;
    color: white;
}
.toggler-border-color.principal{
    border: white solid 3px;
}
.navbrand-pers{
    color: white;
    font-size: 25px;
    text-align: center;
    position: relative;
    bottom: 5px;
}
/*Logo pagina*/
.logo-brand{
    width: 45px;
    margin-right: 8px;
    height: 45px;
}
.navbrand-text{
    color: white;
    padding-top: 23px;
}
.btn-pers{
    background-color: var(--celeste);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: white;
}
.btn.lb{
    color: white;
}
.btn-pers:hover{
    background-color: var(--celeste-claro);
    color: black;
}
.btn-pers.green{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--azul);
    color: white;
}
.btn-pers.green:active{
    color: white;
}
.btn-pers.green:hover{
    background-color: var(--celeste-claro);
    color: black;
}
@media screen and (max-width: 991px){
    .nav-item{
        padding: 0.3rem;
    }
    .navbrand-pers{
        margin-left: 20px;
    }
}

/* barra navegacion inicio de sesion*/
.usuario-icono{
    width: 50px;
}

.navbar.principal.usuario{
    padding: 0.1rem;
}


/* Carrusel */
.img-carr{
    height: 650px;
    object-fit: cover;
}
.sobreponer-carr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ajusta el z-index para que este componente esté sobre el componente base */
    align-items: center;
    justify-content: center;
}
.sobreponer-carr.izquierda{
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.texto-sobrepuesto{
    text-align: center;
    color: white;
}
.img-z-carr{
    width: 250px;
    margin: 20px;
}


/* boton agendar y video */
.sobreponer {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    align-items: center;
    justify-content: center;
}
.btn-pers.cita{
    background-color: var(--celeste-claro);
    font-size: 30px;
    border-radius: 40px;
    margin-bottom: 10px;
    color: black;
}
.btn-pers.cita:hover{
    background-color: var(--celeste-oscuro);
}
.btn-pers.cita:active{
    background-color: var(--azul);
    color: white;
}

.btn-pers.green.video{
    font-size: 18px;
    width: 150px;
    border-radius: 40px;
    margin-bottom: 10px;
}
.video-agendar{
    width: 400px;
}

.modal-video{
    align-items: center;
    justify-content: center;
    align-content: center;
}

.video-agendar{
    width: 450px;
}

@media screen and (max-width: 751px) {
    .btn-pers.cita{
        font-size: 20px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .btn-pers.green.video{
        font-size: 14px;
        width: 120px;
    }
}

/* comentarios */
.parallax {
    background-image: url("../img/index/comentarios-bg.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.user-icon{
    width: 50px;
    margin: 10px;
}

.card.bg-user{
    background-color: var(--celeste);
}


/*

Nueva seccion: Login 

*/

.login,
.image-login {
  min-height: 100vh;
}

.bg-login-image {
  background-image: url('../img/login/bg-login.jpg');
  background-size: cover;
  background-position: center center;
}
.sobreponer.esquinaIzquierda{
    top: 3%;
    left: 5%;
    transform: translate(-10%, -10%);
}

.logo-login-pers{
    color: white;
    font-size: 30px;
    text-align: center;
    position: relative;
    bottom: 7px;
}

.container-izquierda{
    position: absolute;
    top: 50px;
    left: 120px;
    transform: translate(-50%, -50%);
    z-index: 2;
    align-items: center;
    justify-content: center;
    
}

.container-logo-login{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-logo-login{
    width: 40px;
    margin-right: 7px;
}

.texto-logo-login{
    color: var(--azul);
    padding-top: 23px;
    font-weight: bold;
    font-size: 18px;
}

/*

Nueva seccion: registro

*/

/* Style the form */
#regForm {
    margin: 100px auto;
    padding: 40px;
    width: 100%;
    min-width: 300px;
  }

.contenedor-100hv{
    min-height: 90vh;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}


/*

Nueva seccion: administrador

*/

.nav-item.admin{
    background-color: rgb(212, 231, 236);
    padding: 0;
}
.nav-link.admin{
    color: black;
}

.card.admin{
    border: 1px solid black;
    
}

.imagen.user-admin{
    height: 80px;
}

.col-2.admin{
    align-items: center;
    justify-content: center;
    text-align: center;

}

.trash-icon{
    font-size: 16px;
}



/* tabla con scroll admin inicio*/
.table-responsive.admin{
    overflow-y: auto;
    height: 600px;
    width: 100%;
}
/* tabla con scroll admin fin*/


/* 

Seccion:  principal-especialidades 

*/

.specialty-card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.specialty-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.efecto-div {
    background-color: rgb(242, 246, 248);
}


/* 

Seccion:  interfaz-especialidades 

*/
.titulo-azul{
    color: var(--azul);
}
.especialidades{
    background-color: var(--azul);
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.especialidades:hover{
    background-color: var(--celeste-oscuro);
    color: black;
}

/*______________________________________________________*/
/* Estilos Interfaz pago */

.container.pago{
    background-image: linear-gradient(to right, #b9b9b9cd, hsla(249, 22%, 66%, 0.637)), url(../img/index/fondo-pago.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.formulario{
    background-color: rgba(206, 206, 206, 0.5);
    border: 1px solid #e0e0e0;
    width: 40%;
    padding: 2%;
}

.btn.pago{
    background-color: #1b4965;
    color: white;
}

.btn.pago:hover{
    background-color: #5fa8d3; /* Cambia el color del botón al pasar el mouse */
}

.titulo-formulario{
    color: #1b4965;
}
/*______________________________________________________*/
/* Estilos Interfaz pago  FIN*/


/* 

Seccion: especialidad 

*/

.card-img-top {
    width: 500px; /* El ancho deseado */
    height: 300px; /* La altura deseada */
    object-fit: cover; /* Ajusta la imagen manteniendo las proporciones y cubriendo completamente el contenedor */
}

.container.especialidad {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
}

.img-fluid-especialidad {
    border-radius: 5px;
}

.img-fluid-especialidad.img-prin {
    border-radius: 5px;
    width: 500px;
}
.card.img-especialidad {
    border: none;
    transition: transform 0.2s;
    margin-bottom: 20px;
    background-color: rgb(242, 246, 248);
}
.btn-pers.especialidades{
    background-color: var(--azul);
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.btn-pers.especialidades:hover{
    background-color: #5fa8d3;
    color: black;
}

/*==================================================

Seccion de estilos del perfil de Paciente 

====================================================*/
.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header  {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#30c9f3, transparent);
    margin-bottom: 2rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, #3cf8ff, #317FFF);
    border-radius: 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada{
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.boton-editar {
    position: absolute;
    top: 20rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 10px 10px;
    background-color: rgba(32, 128, 3, 0.445);
    color: #050505;
    cursor: pointer;
}

.boton-historial-paciente{
    position: absolute;
    top: 25rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 10px 10px;
    background-color: rgba(43, 122, 240, 0.445);
    color: #050505;
    cursor: pointer;
}

.perfil-usuario-citas{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.perfil-usuario-portada{
    margin-top: 30px;
}

/* adaptacion a dispositivos perfil*/
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }
    .seccion-perfil-usuario {
        margin-left: 1rem;
        margin-top: 0;
    }
}


/* 

Seccion: Doctor

*/
.card-blue:hover {
    background-color: var(--azul);
    color: var(--celeste-blanco);
}

.container.doctor{
    min-height: 400px;
}



/*==================================================

Seccion de estilos de la interfaz de Nosotros

====================================================*/
.container.nosotros{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

/* Bienvenida */

.parallax-nosotros {
    background: linear-gradient(to right, #b9b9b9cd, hsla(249, 85%, 79%, 0.637)), url(..assets/img/index/clinica.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    color: #1b4965;
}
/*_______________________*/

/*

Seccion: atencion

*/

/* tabla con scroll atencion inicio*/
.table-responsive.atencion{
    overflow-y: auto;
    height: 400px;
    width: 100%;
}
/* tabla con scroll atencion fin*/

