/*

Seccion: pagina raiz-base

*/

:root{
    /* nuevo root */
    --celeste-claro: #bee9e8;
    --celeste: #62b6cb;
    --azul: #1b4965;
    --celeste-blanco: #cae9ff;
    --celeste-oscuro: #5fa8d3;

}



/*Logo pagina*/
.logo{
    width: 150px;
}
/*general*/
a {
    text-decoration: none;
}


/*

Nueva seccion: index

*/

/* Barra de navegacion*/
.navbar.principal {
    padding: 0.8rem;
    background: var(--celeste-oscuro);
}
.navbar-collapse.principal {
    align-items: center;
    justify-content: end;
}
.navbar-nav.principal {
    align-items: center;
}
.nav-link.principal{
    font-size: 18px;
    color: white;
}
.nav-item.principal{
    padding: 1rem;
}
.icon-navbar.principal{
    font-size: 20px;
    color: white;
}
.toggler-border-color.principal{
    border: white solid 3px;
}
.btn-pers{
    background-color: var(--azul);
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.btn-pers:hover{
    background-color: var(--celeste-claro);
    color: black;
}
.btn-pers.green{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--azul);
}
.btn-pers.green:active{
    background-color: rgb(47, 179, 47);
    color: white;
}
.btn-pers.green:hover{
    background-color: var(--celeste-claro);
    color: black;
}
@media screen and (max-width: 991px){
    .nav-item{
        padding: 0.3rem;
    }
}

/* barra navegacion inicio de sesion*/
.usuario-icono{
    width: 50px;
}

.navbar.principal.usuario{
    padding: 0.1rem;
}


/* Carrusel */
.img-carr{
    height: 650px;
    object-fit: cover;
}
.sobreponer-carr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ajusta el z-index para que este componente esté sobre el componente base */
    align-items: center;
    justify-content: center;
}
.sobreponer-carr.izquierda{
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.texto-sobrepuesto{
    text-align: center;
    color: white;
}
.img-z-carr{
    width: 250px;
    margin: 20px;
}


/* boton agendar y video */
.sobreponer {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    align-items: center;
    justify-content: center;
}
.btn-pers.cita{
    background-color: var(--celeste-claro);
    font-size: 30px;
    border-radius: 40px;
    margin-bottom: 10px;
    color: black;
}
.btn-pers.cita:hover{
    background-color: var(--celeste-oscuro);
}
.btn-pers.cita:active{
    background-color: var(--azul);
    color: white;
}

.btn-pers.green.video{
    font-size: 18px;
    width: 150px;
    border-radius: 40px;
    margin-bottom: 10px;
}
@media screen and (max-width: 751px) {
    .btn-pers.cita{
        font-size: 20px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .btn-pers.green.video{
        font-size: 14px;
        width: 120px;
    }
}


/* especialidades */
.bg-seccion{
    background-color: rgb(230, 230, 230);
}
.icon-especializacion{
    margin-top: 2rem;
    height: 50px;
}
.card.especialidades{
    background-color: rgb(242, 246, 248);
}
.card.especialidades:hover{
    background-color: rgba(125, 129, 131, 0.589);
}
.titulo-especialidad{
    background-color: aqua;
    
}


/* comentarios */
.parallax {
    background-image: url("../img/index/comentarios-bg.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.user-icon{
    width: 50px;
}

.bg-user{
    background: var(--celeste);
}


/*

Nueva seccion: Login 

*/

.login,
.image-login {
  min-height: 100vh;
}

.bg-login-image {
  background-image: url('../img/login/bg-login.jpg');
  background-size: cover;
  background-position: center center;
}
.sobreponer.esquinaIzquierda{
    top: 3%;
    left: 5%;
    transform: translate(-10%, -10%);
}


/*

Nueva seccion: registro

*/

/* Style the form */
#regForm {
    margin: 100px auto;
    padding: 40px;
    width: 100%;
    min-width: 300px;
  }

/*

Pasos con javascript ¡IGNORAR!(inicio)

*/
  
/* Style the input fields */
.input-register {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
.input-register.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

/*

Pasos con javascript ¡IGNORAR!(fin)

*/

.contenedor-100hv{
    min-height: 90vh;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}


/*

Nueva seccion: administrador

*/

.nav-item.admin{
    background-color: rgb(212, 231, 236);
    padding: 0;
}
.nav-link.admin{
    color: black;
}

.card.admin{
    border: 1px solid black;
}

.imagen.user-admin{
    height: 80px;
}

.col-2.admin{
    align-items: center;
    justify-content: center;
    text-align: center;

}

/* Seccion:  principal-especialidades */

.specialty-card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.specialty-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
/* Seccion:  interfaz-especialidades */
.card-title{
    color: var(--cian-azul);
}

/*______________________________________________________*/
/* Estilos Interfaz pago */

.container-formulario {
    background-image: linear-gradient(to right, #b9b9b9cd, hsla(249, 22%, 66%, 0.637)), url(../img/index/fondo-pago.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.formulario{
    background-color: rgba(206, 206, 206, 0.5);
    border: 1px solid #e0e0e0;
    width: 40%;
    padding: 2%;
}

.botones-pagar{
    display: flex;  
    justify-content: space-evenly; 
}

.botones-pagar button{
    background-color: #1b4965;
    color: white;
}

.botones-pagar button:hover {
    background-color: #5fa8d3; /* Cambia el color del botón al pasar el mouse */
}

.titulo-formulario, .placeholder{
    color: #1b4965;
}

/* Seccion: especialidad */

.card-img-top {
    width: 500px; /* El ancho deseado */
    height: 300px; /* La altura deseada */
    object-fit: cover; /* Ajusta la imagen manteniendo las proporciones y cubriendo completamente el contenedor */
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
}

img.img-fluid {
    border-radius: 5px;
}

.card {
    border: none;
    transition: transform 0.2s;
    margin-bottom: 20px;
}

/*==================================================
Seccion de estilos del perfil de Paciente 
====================================================*/
.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header  {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#30c9f3, transparent);
    margin-bottom: 2rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, #3cf8ff, #317FFF);
    border-radius: 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada{
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.boton-editar {
    position: absolute;
    top: 20rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 10px 10px;
    background-color: rgba(32, 128, 3, 0.445);
    color: #050505;
    cursor: pointer;
}
.perfil-usuario-citas{

    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.perfil-usuario-portada{
    margin-top: 30px;
}

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }
    .seccion-perfil-usuario {
        margin-left: 1rem;
        margin-top: 0;
    }
}

/* diego card blue*/
.card-blue:hover {
    background-color: var(--azul);
    color: var(--celeste-blanco);
